<nav class="navbar navbar-default">
  <div = class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Business Portfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>

      <li><a href="/reviews">Business Reviews</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session.logged_in%}
        <li><a href="/dashboard">DashBoard</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% else %}
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}

    </ul>
</div>
</nav>
