{% extends 'base.html' %}


{% block body %}
  <h1>Login</h1>
  <!-- {% include 'includes/_messages.html' %} -->
  <form method="POST">
    <div class="form-group">
      <label for="business_id">Business_id</label>
      <input type="text" name="business_id" value="{{request.form.business_id}}" class="form-control">

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" value="{{request.form.password}}" class="form-control">

    </div>
    <button type="submit" name="button" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}
